.Layout
	display flex
	flex-direction column
	justify-content space-between
	padding .5em
	min-height 100vh
	background-image url("../images/campo.jpg")
	background-size cover
	
	> section
		margin .5em
	&-status
		test(orange)
		width 200px
	&-battle
		test(red)
		background-color rgba(211,211,211,0.7)
		flex 1
		margin 0 .5em
	&-phases
		test(green)
		width 200px
	&-angonist
		test(green)
		display flex
		justify-content space-between
	&-player
		test(green)
		display flex
		justify-content space-between
	&-main
		display flex
		justify-content space-between