.Card
	width 180px
	background darkkhaki
	border 5px solid gray
	border-radius .5em
	padding .5em

	&-name
		colro white
		text-tranform uppercase
		margin 0 0 .5em 0
		font-size 1em
		
	&-description
		background white
		padding .5em
		font-size 12px
		border 1px solid black

	&-image
		width 100%
		
	&-attack
		background black
		color white
		font-size .7em
		padding .5em