div(class="Card")
    h2(class="Card-name") Pikachu
    img(src="public/images/pikachu.png", class="Card-image")
    div(class="Card-description") pikachu tiene poderes sorprendentes.
    div(class="Card-attack") 1500 puntos de ataque.