div(class="Card")
    h2(class="Card-name") 
    img(src="#", class="Card-image")
    div(class="Card-description") pikachu tiene poderes sorprendentes.
    div(class="Card-attack") 1500 puntos de ataque.