//function prueba
test(color = green)
	border 1px solid color
	box-size border-box

@import "../lib/card/styles.styl"
@import "../lib/status/styles.styl"
@import "../lib/phases/styles.styl"
@import "../lib/battle/styles.styl"
@import "../lib/layout/styles.styl"

body
	font-family verdana
	font-size 16px
	margin 0
	


