doctype html
html(lang="es")
    head
        meta(charset="UFT-8")
        title Juego de Cartas
        link(rel="stylesheet",type="text/css",href="public/css/app.css")
        script(src="//code.jquery.com/jquery-1.11.3.min.js")
        script(src="//code.jquery.com/jquery-migrate-1.2.1.min.js")
        script(src="./public/js/custom.js")
body
    include ../lib/layout/template.jade

